{% load crispy_forms_tags %}

<form {% if obj is not None %} hx-post='.' hx-swap="outerHTML" hx-target='this'{% else %} method="POST"  action="."{% endif %}>
    {{message}}
    {% csrf_token %}
    {{ form|crispy }}


    {% if obj is not None %}
        <h3 class="mt-2">Dostępność</h3>       
        {% include 'announcements/availability.html' %}   
        
        </div>
        

    {% endif %}
    <hr>
    {% if btn != True %}
        <button type='submit' class="m-2 btn btn-success">Zapisz ogłoszenie aby dodać dostępność</button>
    {% endif %}
</form>
