{% load crispy_forms_tags %}

<form action="." method="POST" {% if obj is None %} hx-post='.' hx-swap='outerHTML' {% endif %}>
    {{message}}
    {% csrf_token %}
    {{ form|crispy }}


    {% if obj is not None %}
        <h3 class="mt-2">Dostępność</h3>       
        {% include 'announcements/availability.html' %}   
        
        </div>
        
        <a class='btn btn-warning m-2' href='{% url "announcements:detail" id=obj.id %}'>Przejdź do ogłoszenia</a>
        <button type='submit' class='m-2 btn btn-primary'>zapisz zmiany</button>
    {% endif %}
    <hr>
    {% if btn != True %}
        <button type='submit' class="m-2 btn btn-success">Zapisz ogłoszenie aby dodać dostępność</button>
    {% endif %}
</form>
