{% load crispy_forms_tags %}

<form action="." method="POST"  hx-post='.' hx-swap='outerHTML'>
    {{message}}
    {% csrf_token %}
    {{ form|crispy }}


    {% if obj is not None %}
        <h3 class="mt-2">Dostępność</h3>       
        {% include 'announcements/availability.html' %}   
        
        </div>
        <a class='btn btn-warning' href='{% url "announcements:detail" id=obj.id %}'>Przejdź do ogłoszenia</a>
    {% endif %}
    <hr>
    {% if btn != True %}
        <button type='submit' class="m-2 btn btn-success">Zapisz ogłoszenie aby dodać dostępność</button>
    {% endif %}
</form>

<!-- <script>
    btn_div = document.getElementById('btn_div')
    btn = document.getElementById('add_btn')

    function check_avs_amount() {
        console.log(document.getElementsByClassName('av_amount').length)
        if (document.getElementsByClassName('av_amount').length === 6) {
            btn.style.display = 'none'
            
        }
    }

    btn.addEventListener('click', check_avs_amount)
</script> -->