
    <div id="avs">
        {% if obj.avs %}
        <div class="card-text">
            {% for av in obj.avs.all %} 
            <div class="av_amount">
                <p hx-post="{% url 'announcements:av_delete' id=obj.id av_id=av.id %}" style="cursor:pointer;" class="badge bg-danger float-end " hx-target="#avs" hx-swap="outerHTML">
                    x
                  </p>
                  <h6 class="">{{ av.day }} </h6>
                  <p>{% if av.av_from != None %} od: {{ av.av_from }} {% endif %}{% if av.av_to != None %} do: {{ av.av_to }}{% endif %}</p>
                  <hr class="bg-success border-2 border-top border-success">
            </div>
            {% endfor %}

        </div>
        
        {% endif %}   
        {% if obj.avs.all.count < 7  %}
        <div id="btn_div" class="mb-3">
            <a class="btn btn-success" id="add_btn"  hx-put='{% url "announcements:hx_av" id=obj.id %}' hx-swap='outerHTML' hx-target='#formdiv'>
                dodaj dostępność
            </a>
        </div>
        <div id="formdiv"></div>
        {% else%}
        <p>Więcej niż 7 dodać nie możesz...</p>
        {% endif %}
        <div id="btn_div" class="m-4 float-start">
            <a class='btn btn-warning m-2' href='{% url "announcements:detail" id=obj.id %}'>Przejdź do ogłoszenia</a>
            <button type='submit' class='m-2 btn btn-primary'>zapisz zmiany</button>
        </div>

    </div>

