{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Announcements | {% endblock %}

{% block content %}
<style>
.avatar {
  border: 0.3rem solid rgba(#fff, 0.3);
  margin-top: -6rem;
  margin-bottom: 1rem;
  max-width: 9rem;
}
</style>


    <!-- card container -->
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ obj.title }}</h1>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-2">
            <div class="card-body text-center">
                    <img src="{% if  author.profile_picture %} {{ author.profile_picture.url}} {% else %} {% static 'default.jpg' %} {% endif %}" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                    <h4 class="card-title">{{ author.user }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Autor ogłoszenia</h6>
                    {% if author.description != None %}
                    <p class="card-text text-break">{{ author.description }}</p>
                    {% endif %}
                    <a href="#" class="btn btn-success">umów się na korki</a>
                    <a href="#" class="btn btn-outline-success my-1">napisz wiadomość</a>
            </div>
    </div>

      <!-- card-1 -->
      <div class="col bg-transparent">
        <div class="card-body">
          <i class="bi bi-display h1 text-warning"></i>
          <h5 class="card-title mt-3">Opis ogłoszenia</h5>
          <p class="card-text">
            {{ obj.content }} 
          </p>
        </div>
        <div class="card-body">
            <i class="bi bi-display h1 text-warning"></i>
            <h5 class="card-title mt-3">Stawka godzinowa</h5>
            <p class="card-text">
              {{ obj.price }} {{ obj.currency }}
            </p>
          </div>
          <div class="card-body">
            <i class="bi bi-display h1 text-warning"></i>
            <h5 class="card-title mt-3">Dostępność</h5>
            <p class="card-text">
                {% for av in obj.avs.all %} 
                  <h6>{{ av.day }} </h6>
                  <p>{% if av.av_from != None %} od: {{ av.av_from }} {% endif %}{% if av.av_to != None %} do: {{ av.av_to }}{% endif %}</p>
                {% endfor %}
            </p>
          </div>
      </div>
    </div>
  
    {% include 'form_comments.html' %}

    
{% endblock %}