{% extends "base.html" %}

{% block title %}Announcements | {% endblock %}

{% block content %}

</style>

<h1 class="container">Ostatnie ogłoszenia</h1>
    {% for announcement in object_list %}
    <div class="container">
        <div class="row">
          <div class="">
            <ul class="list-group">
              <a href="{{ announcement.get_absolute_url }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <div class="flex-column">
                    <h5>{{ announcement.title }} </h5>
                  <p><small>{{ announcement.content|truncatewords:13 }}</small></p>
                  <span class="badge bg-success badge-pill">{{ announcement.price }} {{announcement.currency}}/ 1h</span>
                  <span class="badge bg-success badge-pill">{{ announcement.user }}</span>
                  <span class="badge bg-success badge-pill">{{ announcement.user. }}</span>
                  <span class="badge bg-success badge-pill">{{ announcement.timestamp }}</span>
                </div>
                <div class="image-parent">
                  <img src="{{ announcement.get_announcement_picture }}" width="200" height="300" class="img-thumbnail" alt="quixote">
                    <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Chess_Board.svg" width="200" height="300" class="img-thumbnail" alt="quixote"> -->
                </div>
              </a>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}



{% endblock %}