{% load crispy_forms_tags %}
<div id="form_com">
    <div  class="container row">	
      {% if request.user.is_authenticated %}
        <form  hx-post="{% url 'announcements:detail' id=obj.id %}" hx-target="#form_com" hx-swap="outerHTML" class="text-white mx-auto col-12">
          {% csrf_token %}
          <div class="text-dark">
            <h3>Dodaj komentarz</h3>
            {{ form|crispy }}
            <button class="btn btn-success float-end m-3" type='submit'>Dodaj</button>
          </div>
        </form>
        {% else %}
        <div class="col-4 mx-auto">
          <a href="{% url 'login' %}" class="btn btn-secondary text-white">Zaloguj się żeby dodać komentarz</a>
        </div>
        {% endif %}
      </div>
        {% if obj.comments.all %}
        <h1>Komentarze</h1>
        {% for comment in obj.comments.all %}
        <div class="container">
          <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{ comment.get_com_author }}" width="140px" class="img img-rounded img-fluid"/>
                        <p class="text-secondary text-center">{{ comment.publish }}</p>
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-right" href="#"><strong>{{ comment.user }}</strong></a>   
                            <span class="float-end badge bg-success badge-pill">{{ comment.rating }} / <span class="bg-success badge-pill"> 5 </span></span>
                      </p>
                      <div>
                        
                        <p>{{ comment.content }}</p>`
                      </div>
                        
                    </div>
                </div>
                  
                        </div>
                    </div>
                    
        </div>
        {% endfor %}
    {% endif %}
        
</div>
